html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  //text-rendering: optimizeLegibility;
  text-rendering: optimizeSpeed;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  @extend %dmsans-500;
  font-size: 16px;
  line-height: 1.3;
  color: $color-primary;
  background-color: $color-background;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.external-container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

@each $icons-default in $icons-toolbar {
  .toolbar__link--#{$icons-default} {
    background-image: url('../images/icons/#{$icons-default}.svg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto,
      cover;
    min-width: 50px;
    min-height: 50px;
    border-radius: 25px;
    background-color: $color-search;
    z-index: 50;
  }
}

@each $icons-resize in $icons-toolbar-resize {
  .toolbar__link--#{$icons-resize} {
    min-width: 90px;
    background-position: 60% 60%;
    border-radius: 25px 0 0 25px;
    background-color: $color-banner;
    margin-left: 20px;
  }
}

@each $toolbar-num in $span-toolbar {
  .toolbar__link-#{$toolbar-num} {
    position: absolute;
    top: 13px;
    width: 16px;
    height: 16px;
    left: 55px;
    border-radius: 50%;
    text-align: center;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 1.7;
    color: $color-header-title;
    background-color: #fff;
  }
}

@each $support in $icons-support {
  .support__icon--#{$support} {
    background-image: url('../images/icons/#{$support}.svg');
    background-repeat: no-repeat;
    background-size: auto, cover;
    min-width: 50px;
    min-height: 49px;
    z-index: 50;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      top: 35%;
      left: 75%;
      border-radius: 10px;
      background-color: $color-button;
      opacity: 0.5;
    }
  }
}

@mixin pro {
  @each $normal in $icons-gray {
    .products__link--#{$normal} {
      background-image: url('../images/icons/icons-gray/#{$normal}.svg');
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto, cover;
      min-width: 45px;
      min-height: 45px;
      left: 20%;
      border-radius: 23px;
      z-index: 50;
      transition: all 0.2s;
      background-color: #fff;

      &:hover {
        background-color: $color-button;
        box-shadow: 0px 6px 25px rgba(37, 37, 37, 0.05);

        &.products__link--search {
          background-image: url('../images/icons/icons-white/search.svg');
        }

        &.products__link--cart {
          background-image: url('../images/icons/icons-white/cart.svg');
        }

        &.products__link--likes {
          background-image: url('../images/icons/icons-white/likes.svg');
        }
      }
    }
  }
}

.title {
  font-size: 36px;
  text-align: center;
  color: $color-title-accent;
  @extend %dmsans-700;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &:visited {
    color: inherit;
    text-decoration: none;
    outline: 0;
  }

  &:focus,
  &:active,
  &:hover {
    color: inheritr;
    text-decoration: none;
    outline: 0;
  }
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

input {
  &:focus {
    outline: none;
  }
}

[disabled] {
  pointer-events: none;
  opacity: 0.5
}

.br {
  display: block;
}

.overflow-x {
  overflow-x: hidden;
}