html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  //text-rendering: optimizeLegibility;
  text-rendering: optimizeSpeed;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  @extend %dmsans-500;
  font-size: 16px;
  line-height: 1.3;
  color: $color-primary;
  background-color: $color-background;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &__external {
    max-width: 1800px;
  }
}

.title {
  font-size: 36px;
  text-align: center;
  color: $color-accent;
  @extend %dmsans-700;

  &--top {
    display: none;
    font-size: 80px;
    text-transform: uppercase;
  }
}

.mixitup-control-active {
  color: $color-accent;
}

.filter {
  display: flex;
  justify-content: center;
  cursor: pointer;

  &__btn {
    margin-bottom: 80px;
    text-align: center;
    @extend %dmsans-700;
    font-size: 16px;
    color: $color-title-menu;
    transition: all 0.5s ease-in-out;

    &.active {
      color: $color-accent;
    }

    &+& {
      margin-left: 30px;
    }

    &:hover {
      color: $color-accent;
    }
  }
}

.interactions {
  font-size: 0;
  color: transparent;
}

// @each $icons-default in "search""likes""cart""bar" {
//   .toolbar__link--#{$icons-default} {
//     background-image: url('../images/icons/#{$icons-default}.svg');
//     position: relative;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: auto, cover;
//     min-width: 50px;
//     min-height: 50px;
//     border-radius: 50%;
//     background-color: $color-search;
//     z-index: 50;
//     cursor: pointer;
//     transition: all 0.5s ease-in-out;

//     &:hover {
//       box-shadow: 0 0 10px 4px $color-button;
//     }
//   }
// }

// @each $icons-resize in "likes""cart" {
//   .toolbar__link--#{$icons-resize} {
//     min-width: 90px;
//     background-position: 50% 60%;
//     border-radius: 25px 0 0 25px;
//     background-color: $color-banner;
//     margin-left: 20px;
//   }
// }

// @each $support in "support""delivery""payment" {
//   .support__item--#{$support} {
//     position: relative;

//     &::after {
//       content: '';
//       position: absolute;
//       top: -30%;
//       left: -20%;
//       background-image: url('../images/icons/#{$support}.svg');
//       background-repeat: no-repeat;
//       background-size: auto, cover;
//       min-width: 60px;
//       min-height: 60px;
//       transform: translate(-50%, 50%);
//     }
//   }
// }

.contact {
  max-width: 200px;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;

  &:visited {
    text-decoration: none;
  }

  &:focus,
  &:active,
  &:hover {
    text-decoration: none;
  }
}