html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  //text-rendering: optimizeLegibility;
  text-rendering: optimizeSpeed;
}

// .hover {
//   -webkit-user-select: none;
//   -webkit-touch-callout: none;
// }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  @extend %dmsans-500;
  font-size: 16px;
  line-height: 1.3;
  color: $color-primary;
  background-color: $color-background;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &--external {
    max-width: 1800px;
  }
}

.title {
  margin-bottom: 25px;
  @extend %lineclump;
  text-align: center;
  @extend %dmsans-700;
  font-size: 36px;
  color: $color-accent;

  @include r (1200) {
    font-size: 32px;
    margin-bottom: 20px;
  }

  @include r (992) {
    margin-bottom: 15px;
    font-size: 28px;
  }

  @include r (768) {
    font-size: 24px;
  }

  @include r (480) {
    margin-bottom: 10px;
    font-size: 20px;
  }

  &--top {
    display: none;
    font-size: 80px;
    text-transform: uppercase;

    @include r(1200) {
      font-size: 60px;
    }

    // @include r(992) {
    //   font-size: 40px;
    // }

    // @include r(768) {
    //   font-size: 32px;
    // }

    // @include r(440) {
    //   font-size: 28px;
    // }
  }
}

.firstletter {
  float: left;
  @extend %rubik-500;
  font-size: 140px;
  line-height: 1;
  color: $color-button;
}

.filter {
  display: flex;
  justify-content: center;
  cursor: pointer;

  &__btn {
    margin-bottom: 80px;
    text-align: center;
    @extend %dmsans-700;
    font-size: 16px;
    color: $color-title-menu;
    transition: all 0.5s ease-in-out;

    @include r(1200) {
      margin-bottom: 40px;
    }

    @include r(992) {
      margin-bottom: 20px;
    }

    &:not(:last-child) {
      margin-right: 30px;

      @include r(1200) {
        margin-bottom: 20px;
        margin-right: 25px;
      }

      @include r(992) {
        margin-bottom: 15px;
        margin-right: 20px;
      }

      @include r(480) {
        margin-bottom: 10px;
        margin-right: 12px;
        font-size: 14px;
      }
    }

    &.active {
      color: $color-accent;
    }

    &:hover {
      color: $color-accent;
    }
  }
}

.interactions {
  font-size: 0;
  color: transparent;
}

.breadcrumbs {
  // margin-bottom: 120px;
  margin-bottom: 115px;
  padding: 29px 0;
  background-color: $color-search;

  @include r(1200) {
    margin-bottom: 80px;
  }

  @include r(992) {
    margin-bottom: 60px;
  }

  @include r(768) {
    margin-bottom: 30px;
  }

  @include r(440) {
    margin-bottom: 15px;
  }

  &__title {
    @extend %rubik-300;
    color: $color-date;
    line-height: 1.1;
    @extend %lineclump;
    -webkit-line-clamp: 1;
    margin-bottom: 0;

    &--content {
      margin-bottom: 30px;
      text-align: start;
      color: $color-title-header;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    font-size: 14px;
    color: $color-button;
    line-height: 2;
    @extend %rubik-400;
    padding-right: 20px;
    position: relative;

    &::after {
      position: absolute;
      content: '/';
      top: 0;
      right: 6px;
    }

    &:last-child {
      // color: $color-title-menu;
      padding-right: 0;

      &::after {
        display: none;
      }
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

:focus-visible {
  outline: 1px solid $color-button;
}

.filter-title {
  position: relative;
  margin-bottom: 27px;
  text-transform: uppercase;
  @extend %dmsans-700;
  font-size: 18px;
  line-height: 1.2;
  color: $color-title-header;

  &::after {
    position: absolute;
    content: '';
    width: 38px;
    height: 2px;
    top: 10px;
    transform: translate(40%, 0);
    background-repeat: no-repeat;
    background-image: url('../images/icons/line-category.svg');
  }

  &--recent {
    padding-bottom: 8px;
  }

  &--recent-post {
    margin-bottom: 30px;
  }
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  display: none;
}

.irs--flat .irs-line {
  top: 13px;
  height: 3px;
  border-radius: 0px;
  background-color: $color-button;
}

.irs--flat .irs-bar {
  top: 12px;
  height: 4px;
  background-color: $color-button;
}

.irs--flat .irs-handle {
  top: 7px;
  width: 15px;
  height: 15px;
  background-color: $color-button;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.rating .jq-ry-normal-group svg {
  fill: silver;
}

.rating .jq-ry-rated-group svg {
  fill: blue;
}

.jq-ry-container {
  margin-left: -5px;
  padding: 5px 0 5px 0;
}

// .box-img {
//   position: relative;
//   max-width: 370px;
//   width: 100%;
//   overflow: hidden;

//   &__img {
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: auto;
//   }
// }