@mixin pro {
  @each $normal in "search""cart""likes" {
    .product__link--#{$normal} {
      background-image: url('../images/icons/icons-gray/#{$normal}.svg');
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto, cover;
      width: 45px;
      height: 45px;
      left: 20%;
      border-radius: 23px;
      z-index: 50;
      background-color: $color-background;
      transition: all 0.5s ease-in-out;
      box-shadow: 0 0 10px 4px $color-button;

      &:hover {
        background-color: $color-button;
        box-shadow: 0 0 10px 10px $color-button;

        &.product__link--search {
          background-image: url('../images/icons/icons-white/search.svg');
        }

        &.product__link--cart {
          background-image: url('../images/icons/icons-white/cart.svg');
        }

        &.product__link--likes {
          background-image: url('../images/icons/icons-white/likes.svg');
        }
      }
    }
  }
}

@mixin form {
  .form__input {
    display: inline-block;
    padding: 13px 10px 13px 15px;
    max-width: 168px;
    width: 100%;
    border: none;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 1;
    color: $color-placeholder;
    background-color: $color-form-bg;

    &::placeholder {
      @extend %dmsans-400;
      font-size: 12px;
      color: $color-placeholder;
    }
  }

  .form__btn {
    @extend %btn;
    margin-left: -4px;
    padding: 15px 15px 14px 15px;
    transition: all 0.5s ease-in-out;

    &:hover {
      box-shadow: 0 0 10px 4px $color-button;
      color: $color-accent;
    }
  }
}

@each $icons-default in "search""likes""cart""bar" {
  .toolbar__link--#{$icons-default} {
    background-image: url('../images/icons/#{$icons-default}.svg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto, cover;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    background-color: $color-search;
    z-index: 50;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
      box-shadow: 0 0 10px 4px $color-button;
    }
  }
}

@each $icons-resize in "likes""cart" {
  .toolbar__link--#{$icons-resize} {
    min-width: 90px;
    background-position: 50% 60%;
    border-radius: 25px 0 0 25px;
    background-color: $color-banner;
    margin-left: 20px;
  }
}

@mixin r($width) {
  @media only screen and (max-width: $width+ "px") {
    @content;
  }
}

@mixin rmin($width) {
  @media only screen and (min-width: $width+ "px") {
    @content;
  }
}

// @each $icons-about in "projects""revenue""awards" {
//   .about__item--#{$icons-about} {
//     position: relative;

//     &::before {
//       position: absolute;
//       content: '';
//       background-position: left center;
//       background-repeat: no-repeat;
//       background-size: auto, cover;
//       top: -20px;
//       left: -30px;
//       width: 43px;
//       height: 40px;
//       transform: translate(-50%, 50%);
//       background-image: url('../images/icons/icons-about/#{$icons-about}.svg');
//     }
//   }
// }

// @each $icons-statistic in "rate""products""time""brands" {
//   .statistic__item--#{$icons-statistic} {
//     position: relative;

//     &::before {
//       position: absolute;
//       content: '';
//       background-position: left center;
//       background-repeat: no-repeat;
//       background-size: auto, cover;
//       top: -49px;
//       width: 69px;
//       height: 65px;
//       left: 65px;
//       transform: translate(-50%, -50%);
//       background-image: url('../images/icons/icons-statistic/#{$icons-statistic}.svg');
//     }
//   }
// }