$accent: #a3bbc8;
$default: #436372;
// nav, subtitle
$title: #243f4d;
$bg-bnner: #fcd7b6;

// &__link--search {
//   background-color: #edf1f4
// }




%dmsans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%poppins-700 {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}

%myriadpro-400 {
  font-family: 'MyriadPro-Regular', sans-serif;
  font-weight: 400;
}