@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding: 47px 0;
}

.menu {
  @include dflex-between;
  @extend %rubik-500;
  font-size: 15px;

  &-nav {
    margin: 0 auto;
    padding-left: 300px;
  }

  &__list {
    display: flex;
  }

  &__item {
    &+& {
      margin-left: 35px;
      color: 0.3s;
    }

    &:hover {
      color: $color-title-accent;
    }
  }
}

.header__logo {
  position: absolute;
  top: 50px;
  left: 75px;
}

.toolbar {

  &__list {
    @include dflex-between;
  }

  &__item {
    @include dflex-between;
  }

  &__link {

    &--cart {
      background-position: 45% 60%;
      border-radius: 0 25px 25px 0;
      margin: 0 20px 0 0;

      &::before {
        position: absolute;
        content: '';
        min-height: 32px;
        left: 0;
        top: 9px;
        border-left: 1px solid #fff;
      }
    }

    &-num2 {
      left: 43px;
    }

    &--bar {
      background-color: $color-button;
    }
  }
}

.footer-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 33px;
  padding: 90px 0 65px;
  border-bottom: 1px solid $color-footer-line;
  @extend %rubik-400;
  font-size: 14px;
  color: $color-footer-text;

  &__logo {
    display: block;
    margin-bottom: 20px;
  }

  @each $text-uppercase in 'upper''title' {
    .footer-top__#{$text-uppercase} {
      text-transform: uppercase;
    }
  }

  @each $width-item in 'contact''about''account ' {
    .footer-top__#{$width-item} {
      max-width: 200px;
      width: 100%;
    }
  }

  @each $addres-margin in 'address''phone' {
    .footer-top__#{$addres-margin} {
      display: block;
      margin-bottom: 17px;
    }
  }

  &__title {
    padding-top: 10px;
    margin-bottom: 21px;
    @extend %dmsans-700;
    font-size: 16px;
    color: $color-footer-title;
  }

  &__item {
    margin-bottom: 14px;
  }

  &__signup {
    max-width: 280px;
    width: 100%;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__form-input {
    max-width: 168px;
    width: 100%;
    padding: 13px 10px 13px 15px;
    border: none;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 1;
    color: $color-placeholder;
    background-color: $color-form-bg;

    &::placeholder {
      @extend %dmsans-400;
      font-size: 12px;
      color: $color-placeholder;
    }
  }

  &__form-btn {
    padding: 15px 15px 14px 15px;
    color: #fff;
    background-color: $color-button;
  }
}

.footer-bootom {
  @include dflex-between;
  padding: 30px 0;
  color: $color-footer-text;
  @extend %rubik-400;
  font-size: 14px;

  &__list {
    @include dflex-between;
  }

  &__item {
    &+& {
      position: relative;
      margin-left: 32px;
    }

    &+&::before {
      position: absolute;
      content: '|';
      left: -17px;
    }
  }
}

@import 'media';