.blog {
  &__title {
    margin-bottom: 0;
  }

  &__box-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 42px;

    @include r(1200) {
      margin-bottom: 25px;
    }

    @include r(992) {
      margin-bottom: 15px;
    }

    @include r(768) {
      margin-bottom: 10px;
    }
  }

  &__view-link {
    position: relative;
    padding-right: 24px;
    @extend %dmsans-700;
    color: $color-view;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-image: url('../images/icons/arrows-blog-right.svg');

    @include r(992) {
      background-position: 90% 50%;
    }

    @include r(768) {
      font-size: 14px;
      padding-right: 15px;
      background-position: 95% 50%;
    }
  }

  &__news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -170px;
    overflow: hidden;

    @include r(768) {
      flex-direction: column;
      margin-bottom: -192px;
    }
  }

  .news {
    position: relative;
    max-width: 370px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 6px 25px $color-box-shadow;
    background-color: $color-background;

    &:not(:last-child) {
      margin-right: 30px;

      @include r(1200) {
        margin-right: 20px;
      }

      @include r(992) {
        margin-right: 15px;
      }

      @include r(768) {
        margin-right: 0;
      }
    }

    @include r(768) {
      margin-bottom: 15px;
    }

    @include rmin(768) {
      &:hover {
        box-shadow: inset 0 0 0 1px $color-button;
      }
    }

    &__inner {
      position: relative;
      padding-top: 56.25%;
      overflow: hidden;
      max-width: 370px;
      width: 100%;
      height: 250px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;

      @include r(1200) {
        height: auto;
      }

      @include r(768) {
        margin-bottom: 15px;
        min-height: 150px;
      }
    }

    &__img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
    }

    &__content {
      @extend %lineclump;
      -webkit-line-clamp: 5;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin: 0 auto;
      max-width: 330px;
      width: 100%;
      min-height: 140px;
      font-size: 18px;
      color: $color-view;
      padding: 0 10px;
      position: relative;

      @include r(992) {
        font-size: 16px;
      }

      @include r(768) {
        font-size: 14px;
      }
    }

    &__tag {
      max-width: 103px;
      width: 100%;
      transform: translate(25%, -55%);
      border-radius: 15px;
      text-align: center;
      @extend %poppins-700;
      font-size: 14px;
      line-height: 2;
      text-transform: uppercase;
      color: $color-text-white;
      background-color: $color-button;

      @include r(1200) {
        transform: translate(25%, -55%);
      }

      @include r(768) {
        max-width: 70px;
        line-height: 1.6;
        transform: translate(25%, -120%);
      }
    }

    &__link {
      @extend %dmsans-500;
      transition: color 0.5s;

      @include rmin(768) {
        &:hover {
          color: $color-primary;
        }
      }
    }

    &__signature {
      @extend %lineclump;
      -webkit-line-clamp: 1;
      padding: 15px 3px 18px;
      border-top: 1px solid $color-signature-border;
      @extend %rubik-400;
      font-size: 12px;
      line-height: 2;
      text-transform: uppercase;
      color: $color-date;

      @include r(992) {
        padding: 10px 3px 20px;
      }

      @include r(768) {
        padding: 10px 3px 25px;
      }
    }

    &__time {
      margin: 0 40px 0 15px;
      position: relative;

      @include r(992) {
        margin: 0 19px 0 15px;
      }

      @include r(768) {
        margin: 0 40px 0 15px;
      }

      &::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 13px;
        top: 0;
        left: -17px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../images/icons/calendar.svg');
      }
    }

    &__autor {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 13px;
        height: 13px;
        top: 0;
        left: -17px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../images/icons/user.svg');
      }
    }

    &__autor-link {
      transition: color 0.5s;

      @include rmin(768) {
        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}