.blog-page {
  padding-bottom: 120px;

  @include r(1200) {
    padding-bottom: 100px;
  }

  @include r(992) {
    padding-bottom: 80px;
  }

  @include r(768) {
    padding-bottom: 40px;
  }

  @include r(480) {
    padding-bottom: 20px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    margin-right: 70px;
    max-width: 830px;
    width: 100%;

    @include r(992) {
      margin-right: 10px;
    }

    @include r(762) {
      margin-right: 0;
    }
  }

  &__box-img {
    margin-bottom: 40px;

    @include r(992) {
      margin-bottom: 20px;
    }
  }

  &__img {
    max-width: 830px;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }

  &__item {
    position: relative;
    float: left;
    margin-bottom: 55px;

    @include r(1200) {
      margin-bottom: 40px;
    }

    @include r(992) {
      margin-bottom: 25px;
    }

    @include r(768) {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 35px;
    @extend %rubik-400;
    font-size: 36px;
    line-height: 0.75;
    color: #333;

    @include r(992) {
      margin-bottom: 30px;
      font-size: 32px;
    }

    @include r(768) {
      margin-bottom: 10px;
      font-size: 28px;
      line-height: 1;
    }

    &--details {
      margin-bottom: 25px;

      @include r(992) {
        margin-bottom: 15px;
      }

      @include r(768) {
        margin-bottom: 10px;
      }
    }
  }

  &__text {
    margin-bottom: 50px;
    @extend %rubik-400;
    line-height: 1.875;
    color: $title-header;

    @include r(1200) {
      margin-bottom: 40px;
    }

    @include r(992) {
      margin-bottom: 25px;
    }

    @include r(768) {
      margin-bottom: 15px;
    }
  }

  &__link {
    padding-right: 85px;
    border: 1px solid $button;
    width: 22px;
    height: 9px;
    @extend %btn;
    color: $button;
    background-position: 85% 50%;
    background-repeat: no-repeat;
    background-image: url('../../images/icons/arrows-gray-right.svg');
    background-color: $background;

    @include r(1200) {
      padding: 15px 60px 15px 15px;
    }

    @include r(992) {
      padding: 10px 50px 10px 10px;
    }
  }

  &__aside-btn {
    display: none;

    @include r(768) {
      position: absolute;
      display: block;
      left: 0;
      top: 200px;
      max-width: 30px;
      width: 100%;
      min-height: 80px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      background-repeat: no-repeat;
      background-size: auto cover;
      background-position: center center;
      background-image: url('../images/icons/arrows-blog-right.svg');
      background-color: $button;
      z-index: 99;

      &.fixedAside {
        position: fixed;
        top: 75px;
        right: 0;
        left: 0;
        z-index: 99;
      }
    }
  }

  &__aside {
    max-width: 270px;
    width: 100%;

    @include r(992) {
      max-width: 240px;
    }

    @include r(768) {
      display: none;

      &.aside--active {
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: $search;
        padding: 10px;
        z-index: 999;

        @include r(768) {
          top: 60px;
        }

        &.fixedAside {
          position: fixed;
          top: 60px;
          right: 0;
          left: 0;
          z-index: 99;

          @include r(768) {
            top: 49px;
          }
        }
      }
    }
  }

  &__link {
    transition: all 0.5s;

    @include rmin(768) {
      &:hover {
        border-radius: 5px;
        background-color: $button;
        color: $text-white;
      }
    }
  }

  &__text-box {
    line-height: 1.875;
    color: $title-header;

    @include r(440) {
      line-height: 1.6;
    }

    span {
      display: block;
      padding-bottom: 13px;
      @extend %rubik-500;

      @include r(992) {
        padding-bottom: 5px;
      }

      span {
        font-size: 18px;
        padding: 15px 0 0;

        @include r(992) {
          font-size: 16px;
          padding: 0;
        }
      }
    }

    p {
      padding-bottom: 42px;
      @extend %rubik-400;

      @include r(992) {
        padding-bottom: 20px;
      }

      @include r(768) {
        padding-bottom: 10px;
      }
    }

    blockquote {
      margin-bottom: 48px;
      padding: 13px 85px 0 30px;
      border-left: 7px solid $button;
      @extend %rubik-400;
      line-height: 1.875;
      color: $title-header;
      background-color: $search;

      @include r(992) {
        margin-bottom: 30px;
        padding: 10px 65px 0 20px;
      }

      @include r(768) {
        margin-bottom: 20px;
        padding: 10px 30px 0;
        border-left: 4px solid $button;
      }

      @include r(480) {
        padding: 10px 20px 0;
      }

      p {
        position: relative;
        display: block;
        padding: 7px 0px 15px 47px;
        color: $title-header;

        &::before {
          position: absolute;
          content: '';
          width: 20px;
          height: 4px;
          top: 21px;
          left: 5px;
          background-color: $button;
        }
      }
    }
  }

  &__left-img {
    float: left;
    margin-right: 30px;
    max-width: 322px;
    width: 100%;
    height: 208px;
    object-fit: cover;

    @include r(992) {
      margin-right: 20px;
      max-width: 200px;
      height: 150px;
    }

    @include r(768) {
      float: none;
      margin-right: 0;
      max-width: 450px;
    }
  }

  &__right-img {
    float: right;
    margin-left: 30px;
    max-width: 322px;
    width: 100%;
    height: 208px;
    object-fit: cover;

    @include r(992) {
      margin-left: 20px;
      max-width: 200px;
      height: 150px;
    }

    @include r(768) {
      float: none;
      margin-left: 0;
      max-width: 450px;
    }
  }

  &__creator {
    display: flex;
    padding: 25px 0;
    margin-top: 20px;
    border-top: 2px solid $search;
    border-bottom: 2px solid $search;

    @include r(992) {
      padding: 15px 0;
      margin-top: 10px;
    }

    @include r(768) {
      padding: 10px 0;
      margin-top: 0;
    }
  }

  &__creator-link {
    display: block;
    padding: 3px 0 0;
    @extend %rubik-500;
    font-size: 18px;
    color: $title-header;

    @include r(992) {
      padding: 0;
      font-size: 16px;
    }
  }

  &__creator-name {
    display: block;

    span {
      padding-bottom: 0;
      @extend %rubik-400;
      font-size: 16px;
      line-height: 1.8;
      color: $primary;

      @include r(992) {
        font-size: 14px;
        line-height: 1.6;
      }
    }
  }

  &__creator-img {
    margin-right: 28px;
    max-width: 76px;
    width: 100%;
    max-height: 76px;
    object-fit: cover;

    @include r(768) {
      margin-right: 15px;
      max-width: 70px;
      max-height: 70px;
    }

    @include r(480) {
      display: none;
    }
  }

  &__creator-box {
    margin-left: auto;
    margin-right: 20px;

    @include r(768) {
      margin-right: 0;
    }
  }

  &__tags {
    display: flex;

    span {
      padding-right: 25px;

      @include r(768) {
        padding-right: 10px;
      }

      @include r(480) {
        padding-right: 5px;
      }
    }
  }

  &__tags-link {
    padding-left: 5px;

    @include r(768) {
      padding-left: 0;
    }
  }

  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      padding-bottom: 0;
    }
  }

  &__icon {
    width: 8px;
    height: 15px;
    background-image: url('../../images/icons/facebook.svg');
    background-repeat: no-repeat;
    object-fit: cover;
    margin-left: 22px;

    @include r(768) {
      margin-left: 15px;
    }

    @include r(480) {
      margin-left: 8px;
    }

    &--twitter {
      width: 15px;
      height: 13px;
      background-image: url('../../images/icons/twitter.svg');
    }

    &--instagram {
      width: 15px;
      height: 14px;
      background-image: url('../../images/icons/instagram.svg');
    }

    &--google {
      width: 19px;
      height: 12px;
      background-image: url('../../images/icons/google+.svg');
    }
  }
}