.brand {
  padding-bottom: 0;

  &__checkbox {
    position: relative;
    display: flex;
    justify-content: space-between;
    // justify-content: space-around;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: none;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 1.45;
    color: $color-title-header;
    transition: all 0.5s;
    cursor: pointer;
  }

  &__availab {
    // float: right;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.brand__checkbox {
      background-color: $color-search;
    }
  }
}