.category {
  &--box {
    padding-bottom: 22px;

    @include r(768) {
      padding-bottom: 0;
    }

    &:not(:last-child) {
      margin-bottom: 35px;

      @include r(768) {
        margin-bottom: 10px;
      }

      @include r(480) {
        margin-bottom: 0;
      }
    }
  }

  &__checkbox {
    position: relative;
    display: block;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: none;
    @extend %rubik-400;
    line-height: 1.45;
    color: $title-header;
    transition: all 0.5s;
    cursor: pointer;

    @include r(768) {
      padding: 7px 10px 7px 10px;
    }

    &::after {
      position: absolute;
      content: '';
      top: 10px;
      right: 20px;
      transform: translate(-50%, 50%);
      width: 5px;
      height: 10px;
      background-image: url('../images/icons/arrow-category.svg');
      background-repeat: no-repeat;
    }
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.category__checkbox {
      background-color: $search;

      @include r(768) {
        background-color: $button;
      }
    }
  }
}