.details {
  &__inner {
    display: flex;
    margin-bottom: 95px;

    @include r(1200) {
      margin-bottom: 70px;
    }

    @include r(992) {
      margin-bottom: 40px;
    }

    @include r(768) {
      display: block;
      margin-bottom: 20px;
    }
  }

  &__content {
    position: relative;
    margin-top: 35px;
    max-width: 550px;
    width: 100%;

    @include r(1200) {
      max-width: 465px;
    }

    @include r(992) {
      margin-top: 0;
      max-width: 370px;
    }

    @include r(768) {
      max-width: 450px;
      margin: 0;
    }
  }

  &__name {
    margin-bottom: 25px;

    @include r(992) {
      font-size: 36px;
    }

    @include r(768) {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  &__text {
    margin: 15px 0 30px;
    max-width: 535px;
    line-height: 1.875;

    @include r(1200) {
      margin: 0 0 20px;
    }

    @include r(768) {
      margin: 0 0 10px;
      font-size: 14px;
      line-height: 1.6;
    }
  }

  &__number {
    position: relative;
  }

  &__btn {
    padding: 12px;
    margin-left: 60px;
    min-width: 208px;
    border-radius: 5px;
    text-transform: uppercase;
    @extend %rubik-400;
    font-size: 15px;
    line-height: 2;
    color: $color-text-white;
    background-color: $color-button;

    @include r(992) {
      min-width: 150px;
    }

    @include r(768) {
      padding: 6px;
      margin-left: 0;
      margin-top: 10px;
      margin-left: 0px;
    }
  }

  &__tag {
    margin-top: 47px;
    max-width: 370px;
    width: 100%;
    @extend %rubik-400;
    line-height: 1.875;
    color: $color-title-header;

    @include r(1200) {
      margin-top: 30px;
    }

    @include r(992) {
      margin-top: 20px;
    }

    @include r(768) {
      position: absolute;
      left: 220px;
      bottom: 0;
      max-width: 170px;
      line-height: 1.6;
    }

    @include r(480) {
      display: none;
    }

    span {
      display: block;
    }
  }

  &__link {
    padding-left: 5px;
  }

  &__items {
    display: flex;
    justify-content: center;
  }

  &__item {
    padding: 8px 0;
    margin-bottom: 30px;
    max-width: 241px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    @extend %rubik-500;
    font-size: 18px;
    line-height: 2.222;
    background-color: $color-search;
    color: $color-title-header;

    @include r(1200) {
      padding: 6px 5px;
      margin-bottom: 20px;
      max-width: 220px;
    }

    @include r(768) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px;
      margin-bottom: 15px;
      max-width: 110px;
      font-size: 14px;
      line-height: 1.6;
    }

    &:not(:last-child) {
      margin-right: 13px;

      @include r(768) {
        margin-right: 5px;
      }
    }

    &--active {
      color: $color-text-white;
      background-color: $color-button;
    }
  }

  &__content-tab {
    display: none;
    max-width: 100%;

    p {
      @extend %rubik-400;
      line-height: 1.875;
      color: $color-title-header;

      @include r(992) {
        line-height: 1.6;
      }
    }

    &.details__content-tab--active {
      display: block;
    }
  }

  &__tabs {
    margin-bottom: 115px;

    @include r(1200) {
      margin-bottom: 80px;
    }

    @include r(992) {
      margin-bottom: 40px;
    }

    @include r(768) {
      margin-bottom: 20px;
    }

    @include r(480) {
      margin-bottom: 10px;
    }
  }
}

.details-slider {
  position: relative;
  display: inline-block;
  overflow: hidden;

  @include r(992) {
    height: 275px;
  }

  &__samll {
    float: left;
    margin-top: -50px;
    margin-right: 25px;
    max-width: 140px;
    width: 100%;
    height: 525px;

    @include r(1200) {
      margin-right: 15px;
      max-width: 115px;
    }

    @include r(992) {
      margin-top: -51px;
      margin-right: 5px;
      max-width: 90px;
      height: 350px;
    }

    @include r(768) {}
  }

  &__item {
    margin-bottom: 25px;
    max-width: 134px;
    width: 100%;
    height: 156px;
    border: 2px solid #f2f2f2;
    background-color: #fefefe;
    overflow: hidden;
    cursor: pointer;

    @include r(1200) {
      max-width: 115px;
    }

    @include r(992) {
      margin-bottom: 25px;
      max-width: 85px;
      height: 120px;
    }

    img {
      padding: 5px;
      max-width: 134px;
      width: 100%;
      height: 156px;
      object-fit: contain;

      @include r(1200) {
        max-width: 115px;
      }

      @include r(992) {
        max-width: 85px;
        height: 120px;
      }
    }
  }

  &__normal {
    float: left;
    margin-right: 68px;
    max-width: 383px;
    width: 100%;
    border: 2px solid #f2f2f2;
    background-color: #fefefe;

    @include r(1200) {
      margin-right: 20px;
      max-width: 300px;
    }

    @include r(992) {
      height: 270px;
      max-width: 230px;
    }

    @include r(768) {
      margin-right: 0;
      max-width: 180px;
    }

    img {
      padding: 55px;
      width: 380px;
      height: 526px;
      object-fit: contain;

      @include r(1200) {
        padding: 25px;
        margin-right: 20px;
        max-width: 300px;
      }

      @include r(992) {
        padding: 15px;
        max-width: 230px;
        height: 270px;
      }

      @include r(768) {
        padding: 10px;
        max-width: 180px;
      }
    }
  }
}

.slider-product {
  margin: 0 auto 85px;
  max-width: 84vw !important;

  @include r(1200) {
    margin-bottom: 60px;
  }

  @include r(992) {
    margin-bottom: 40px;
  }

  @include r(768) {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 55px;
    text-align: start;
    line-height: 1.2;
    color: $color-title-header;

    @include r(1200) {
      margin-bottom: 40px;
    }

    @include r(992) {
      margin-bottom: 20px;
    }

    @include r(768) {
      margin-bottom: 15px;
    }
  }

  .slick-slide {
    padding: 15px 15px 30px;

    @include r(1200) {
      padding: 15px 10px 30px;
    }
  }

  &__items {
    padding: 0 15px;
    margin: 0 -30px;

    .slick-arrow {
      position: absolute;
      top: -100px;
      right: 30px;
      padding: 15px 12px;
      border-radius: 5px;
      border: 2px solid $color-search;

      @include r(1200) {
        top: -90px;
      }

      @include r(992) {
        top: -70px;
      }

      @include r(768) {
        padding: 0;
        top: 0;
        width: 0;
        height: 0;
        opacity: 0;
      }

      &--active {
        border-color: $color-button;
      }
    }

    .slick-prev {
      right: 100px;
    }
  }
}

.jq-number {
  margin-left: 50px;
  vertical-align: baseline;

  @include r(768) {
    margin-left: 40px;
    display: block;
  }

  &__field {
    max-width: 50px;
    width: 100%;
    border: 1px solid $color-button;
    border-radius: 0;
  }

  &__field input {
    max-width: 50px;
    width: 100%;
    height: 51px;
    text-align: center;
    @extend %rubik-400;
    font-size: 15px;
    line-height: 3;
    color: #333;
    outline: none;
    border-color: transparent;

    @include r(768) {
      width: 45px;
      height: 38px;
      line-height: 2;
    }
  }

  &__spin {
    position: absolute;
    top: 0;
    width: 50px;
    height: 53px;
    border: 1px solid $color-button;
    border-radius: 0;
    background: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;

    @include r(768) {
      width: 40px;
      height: 40px;
    }
  }

  &__spin:hover {
    background: none;
  }

  &__spin::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 17px;
    border: none;
    width: 13px;
    height: 2px;
    background-color: $color-button;

    @include r(768) {
      top: 19px;
      left: 14px;
    }
  }

  &__spin.minus {
    left: -49px;

    @include r(768) {
      left: -39px;
    }
  }

  &__spin.minus:after {
    top: 25px;
    left: 17px;
    border: none;

    @include r(768) {
      top: 19px;
      left: 14px;
    }
  }

  &__spin.plus {
    right: -49px;

    @include r(768) {
      left: 49px;
    }
  }

  &__spin.plus::before {
    content: '';
    position: absolute;
    top: 19px;
    left: 23px;
    width: 2px;
    height: 13px;
    background-color: $color-button;

    @include r(768) {
      top: 14px;
      left: 20px;
    }
  }
}

.star-details {
  margin-bottom: 30px;

  @include r(1200) {
    margin-bottom: 20px;
  }

  @include r(992) {
    margin-bottom: 15px;
  }

  @include r(768) {
    margin-bottom: 5px;
  }
}