.footer {

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 90px 0 57px;
    border-bottom: 1px solid $footer-line;
    @extend %rubik-400;
    font-size: 14px;
    color: $text-footer;

    @include r(992) {
      padding: 50px 0 27px;
      flex-wrap: wrap;
    }

    @include r(768) {
      padding: 20px 0 15px;
      flex-wrap: wrap;
    }
  }

  &__component {
    max-width: 200px;
    width: 100%;

    @include r(992) {
      max-width: 160px;
    }

    @include r(768) {
      margin-top: 15px;
      display: block;
      max-width: 100%;
    }

    @include r(440) {
      margin-top: 7px;
    }

    &--connection {
      max-width: 225px;
      width: 100%;
    }

    &--signup {
      max-width: 272px;
      width: 100%;
      @include form;

      @include r(992) {
        display: block;
        max-width: 100%;
        max-width: 100vw;
      }
    }
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
  }

  &__address {
    display: block;
    margin-bottom: 17px;

    @include r(768) {
      margin-bottom: 7px;
    }
  }

  &__phone {
    display: block;
    margin-bottom: 17px;
    transition: color 0.5s ease-in-out;

    @include r(768) {
      margin-bottom: 7px;
    }

    @include rmin(768) {
      &:hover {
        color: $accent
      }
    }
  }

  &__email {
    transition: color 0.5s ease-in-out;

    @include r(768) {
      margin-bottom: 7px;
    }

    @include rmin(768) {
      &:hover {
        color: $accent
      }
    }
  }

  &__title {
    padding-top: 10px;
    margin-bottom: 21px;
    @extend %dmsans-700;
    font-size: 16px;
    color: $title-footer;
    text-transform: uppercase;

    @include r(768) {
      margin-bottom: 10px;
      padding-top: 0;
    }
  }

  &__up-text {
    text-transform: uppercase;
  }

  &__link {
    transition: color 0.3s ease-in-out;

    @include rmin(768) {
      &:hover {
        color: $accent
      }
    }
  }

  &__item {
    margin-bottom: 14px;

    @include r(768) {
      margin-bottom: 7px;
    }
  }

  &__text {
    margin-bottom: 40px;

    @include r(768) {
      margin-bottom: 15px;
    }

    @include r(480) {
      margin-bottom: 10px;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    @extend %rubik-400;
    font-size: 14px;
    color: $text-footer;

    @include r(768) {
      flex-wrap: wrap;
      padding: 20px 0 10px;
    }

    @include r(480) {
      padding: 10px 0 10px;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {
    @include r(768) {
      order: 1;
      padding-bottom: 10px;
    }

    @include r(480) {
      padding-bottom: 0;
      font-size: 12px;
    }
  }

  &__box {
    @include r(768) {
      padding-bottom: 10px;
    }

    &:not(:last-child) {
      margin-right: 30px;
      position: relative;

      @include r(768) {
        margin-right: 14px;
      }

      &::after {
        position: absolute;
        content: '|';
        right: -17px;

        @include r(768) {
          right: -7px;
        }
      }
    }
  }
}