.modal {
  margin: 0 auto 90px;
  display: flex;

  @include r(1200) {
    margin: 0 auto 70px;
  }

  @include r(992) {
    margin: 0 auto 50px;
  }

  @include r(768) {
    margin: 0 auto 20px;
  }

  @include r(480) {
    margin: 0 auto 10px;
  }

  &__box {
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
  }

  &__label {
    display: block;
    margin-bottom: 30px;
    @extend %rubik-400;
    font-size: 14px;

    @include r(768) {
      margin-bottom: 15px;
    }

    &--aid {
      margin-bottom: 27px;

      @include r(768) {
        margin-bottom: 15px;
      }

      @include r(480) {
        margin-bottom: 10px;
        padding-bottom: 10px;
      }
    }
  }

  &__input {
    margin-top: 6px;
    padding: 0 15px;
    max-width: 470px;
    width: 100%;
    min-height: 60px;
    background-color: $color-background;
    border: 2px solid #f6f6f6;

    @include r(480) {
      min-height: 45px;
    }
  }

  &__btn {
    display: block;
    margin: 37px 0 33px;
    padding: 21px 0;
    width: 100%;
    @extend %rubik-500;
    font-size: 18px;
    color: $color-text-white;
    background-color: $color-button;

    @include r(992) {
      margin: 30px 0 30px;
    }

    @include r(768) {
      margin: 20px 0 20px;
      padding: 15px 0;
      font-size: 16px;
    }

    @include r(480) {
      margin: 15px 0 10px;
      padding: 15px 0;
      font-size: 14px;
    }
  }

  &__checkbox {
    margin-right: 10px;

    @include r(480) {
      margin-right: 5px;
    }
  }

  &__recovery {
    float: right;
  }

  &__form-create {
    padding-top: 30px;
    border-top: 2px solid #f6f6f6;

    @include r(480) {
      padding-top: 15px;
    }
  }

  &__questions {
    text-align: center;

    & p {
      @extend %rubik-400;
      font-size: 14px;
      line-height: 1.7;
    }
  }

  &__create {
    display: block;
    margin: 20px 0 30px;
    padding: 20px 0 18px;
    width: 100%;
    border: 2px solid $color-button;
    @extend %rubik-500;
    font-size: 18px;
    color: $color-title-header;
    background-color: $color-background;

    @include r(992) {
      margin: 20px 0 20px;
    }

    @include r(768) {
      margin: 10px 0 10px;
      padding: 15px 0;
      font-size: 16px;
    }

    @include r(480) {
      font-size: 14px;
    }
  }
}