.presentation {
  margin-bottom: 115px;
  overflow: hidden;
  min-height: 46vh;
  position: relative;
  background-position: center 79%;

  @include r(1200) {
    margin-bottom: 50px;
    min-height: 40vh;
  }

  &::after {
    content: '';
    position: absolute;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    width: 98px;
    height: 98px;
    border-radius: 50%;
    z-index: 100;
    background-image: url('../images/icons/play.svg');
    animation: radial-pulse 1s infinite;

    @include r(992) {
      width: 68px;
      height: 68px;
    }
  }

  &__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
  }
}