.product {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 25px 10px 38px 10px;
  // padding: 40px 20px 110px 20px;
  // padding: 40px 20px 340px 20px;
  border-radius: 10px;
  box-shadow: 0px 6px 25px $color-box-shadow;
  background-color: $color-background;

  &--line {
    justify-content: flex-start;
    padding: 0;
    border-radius: 0px;
    box-shadow: none;

    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }

  &__img-box {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    max-width: 250px;
    width: 100%;
    min-height: 250px;
    background-color: #fefefe;

    &--line {
      padding: 45px 15px 15px;
      margin-right: 65px;
      max-width: 365px;
      min-height: 500px;
      border: 2px solid #f2f2f2;
    }
  }

  &__img {
    position: absolute;
    transform: translate(-50%, 50%);
    bottom: 135px;
    padding: 5px;

    &--line {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(0, 0);
      bottom: 0;
      padding: 0;
    }
  }

  &__list {
    position: absolute;
    opacity: 0;
    top: 53%;
    transform: translateY(-50%);
    transition: all 0.3s;

    @include r(768) {
      position: relative;
      display: flex;
      margin: 0 auto;
      transform: translateY(165px);
    }

    &--line {
      display: flex;
      // position: relative;
      opacity: 1;
      // pointer-events: none;
    }

  }

  &:hover &__list {

    @include rmin(768) {
      position: absolute;
      display: flex;
      opacity: 1;
      align-items: center;
      width: 100%;
      z-index: 900;
    }
  }

  // &--line:hover .product__list--line {

  //   @include rmin(768) {
  //     pointer-events: none;
  //   }
  // }

  &__link {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto, cover;
    width: 45px;
    height: 45px;
    left: 20%;
    border-radius: 23px;
    z-index: 50;
    background-color: $color-background;
    box-shadow: 0 0 10px 4px $color-button;

    @include r(768) {
      left: 0;
      width: 40px;
      height: 40px;
    }

    &--search {
      background-image: url('../images/icons/icons-gray/search.svg')
    }

    &--cart {
      background-image: url('../images/icons/icons-gray/cart.svg')
    }

    &--likes {
      background-image: url('../images/icons/icons-gray/likes.svg')
    }

    &:hover {
      opacity: 1;

      @include rmin(768) {
        background-color: $color-button;
        box-shadow: 0 0 10px 10px $color-button;

        &.product__link--search {
          background-image: url('../images/icons/icons-white/search.svg');
        }

        &.product__link--cart {
          background-image: url('../images/icons/icons-white/cart.svg');
        }

        &.product__link--likes {
          background-image: url('../images/icons/icons-white/likes.svg');
        }
      }
    }
  }

  &__link--cart {
    margin: 0 15px;
  }

  &__about {
    &--line {
      text-align: left;
    }
  }

  &__name {
    @extend %lineclump;
    @extend %dmsans-500;
    line-height: 2;
    color: $color-title-header;

    &--line {
      margin-bottom: 15px;
      @extend %rubik-400;
      font-size: 40px;
      line-height: 0.661;
      color: #333;
    }
  }

  &__price {
    @extend %lineclump;
    -webkit-line-clamp: 1;
    @extend %dmsans-700;
    color: $color-button;

    &--line {
      @extend %rubik-400;
      font-size: 30px;
      line-height: 1.5;
      color: #333;
    }
  }

  &__text {
    max-width: 430px;
    width: 100%;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 2;
    text-align: left;
  }
}