.recent {
  @include r(768) {
    display: none;
  }

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 23px;

      @include r(992) {
        margin-bottom: 15px;
      }
    }
  }

  &__link-box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 67px;
    width: 100%;
    max-height: 67px;
    padding: 2px;
    margin-right: 22px;
    border: 2px solid #f2f2f2;
    overflow: hidden;

    @include r(768) {
      margin-right: 15px;
      border-color: $button;
    }

    &--resent-post {
      padding: 0;
      margin-right: 18px;
      max-width: 70px;
      max-height: 70px;
      border: none;

      @include r(1200) {
        margin-right: 10px;
      }

      @include r(768) {
        max-width: 50px;
        max-height: 50px;
      }
    }
  }

  &__img {
    height: 100%;
    width: auto;
  }

  &__content {
    color: #333;
  }

  &__text {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 1.15;
    transition: color 0.3s;

    @include rmin(768) {
      &:hover {
        color: $button;
      }
    }
  }

  &__price {
    @extend %rubik-400;
    font-size: 15px;
    line-height: 1.8;
  }
}