.shop {
  padding-bottom: 125px;

  @include r(1200) {
    padding-bottom: 80px;
  }

  @include r(992) {
    padding-bottom: 60px;
  }

  @include r(768) {
    padding-bottom: 40px;
  }

  @include r(480) {
    padding-bottom: 15px;
  }

  &__content {
    width: 100%;
  }

  &__product {
    display: block;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px;
    margin-bottom: 115px;

    @include r(1200) {
      margin-bottom: 80px;
      gap: 20px;
    }

    @include r(992) {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      margin-bottom: 60px;
    }

    @include r(768) {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 40px;
    }

    @include r(480) {
      gap: 10px;
      margin-bottom: 15px;
    }

    &--line {
      display: block;
    }
  }

  &__inner {
    display: flex;
  }

  &__filters {
    margin-right: 30px;
    max-width: 270px;
    width: 100%;

    @include r(992) {
      margin-right: 15px;
      max-width: 230px;
    }

    @include r(768) {
      display: none;

      &.aside--active {
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: $color-search;
        padding: 10px;
        z-index: 999;

        &.fixedAside {
          position: fixed;
          top: 50px;
          right: 0;
          left: 0;
          z-index: 99;
        }
      }
    }
  }
}