.support {
  margin-bottom: 61px;

  @include r(1200) {
    margin-bottom: 25px;
  }

  @include r(992) {
    margin-bottom: 15px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    padding: 41px 0;
    background-color: $color-form-bg;

    @include r(1200) {
      padding: 25px 0;
    }

    @include r(992) {
      padding: 20px 0;
    }

    @include r(768) {
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    padding-left: 65px;
    max-width: 280px;
    width: 100%;
    background-repeat: no-repeat;
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 1.8;
    color: $color-title-cards;

    @include r(992) {
      padding-left: 60px;
      max-width: 240px;
    }

    @include r(768) {
      margin: 0 auto;
      max-width: 350px;
 
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }

    &--support {
      background-image: url('../images/icons/support.svg');
    }

    &--delivery {
      background-image: url('../images/icons/delivery.svg');
    }

    &--payment {
      background-image: url('../images/icons/payment.svg');
    }

    &:not(:last-child)::before {
      position: absolute;
      content: '';
      min-height: 170px;
      transform: translate(19vw, -25%);
      border-left: 1px solid $color-line-cards;

      @include r(1200) {
        display: none;
      }
    }
  }

  &__text {
    @extend %lineclump;
    -webkit-line-clamp: 4;
    @extend %dmsans-400;
    font-size: 16px;
    color: $color-text-cards;

    @include r(992) {
      font-size: 14px;
      -webkit-line-clamp: 5;
    }
  }

  span {
    @include r(992) {
      font-size: 16px;
    }
  }
}