.support {
  margin-bottom: 61px;

  @include r(1200) {
    margin-bottom: 25px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    padding: 41px 0;
    background-color: $color-form-bg;

    @include r(1200) {
      padding: 10px 0;
    }

    @include r(992) {
      display: block;
      padding: 10px 0;
      margin: 0 auto;
    }
  }

  &__item {
    position: relative;
    margin-left: 65px;
    max-width: 220px;
    width: 100%;
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 1.8;
    color: $color-title-cards;

    @include r(992) {
      margin: 10px auto 5px;
    }

    &--support {

      &::after {
        position: absolute;
        content: '';
        background-repeat: no-repeat;
        top: 0;
        left: -50%;
        transform: translate(50%, 0);
        min-width: 60px;
        min-height: 60px;
        background-image: url('../images/icons/support.svg');

        @include r(440) {
          display: none;
        }
      }
    }

    &--delivery {

      &::after {
        position: absolute;
        content: '';
        background-repeat: no-repeat;
        top: 0;
        left: -50%;
        transform: translate(50%, 0);
        min-width: 60px;
        min-height: 60px;
        background-image: url('../images/icons/delivery.svg');

        @include r(440) {
          display: none;
        }
      }
    }

    &--payment {

      &::after {
        position: absolute;
        content: '';
        background-repeat: no-repeat;
        top: 0;
        left: -50%;
        transform: translate(50%, 0);
        min-width: 60px;
        min-height: 60px;
        background-image: url('../images/icons/payment.svg');

        @include r(440) {
          display: none;
        }
      }
    }

    &:not(:last-child)::before {
      position: absolute;
      content: '';
      min-height: 172px;
      transform: translate(19vw, -25%);
      border-left: 1px solid $color-line-cards;

      @include r(1440) {
        transform: translate(22vw, -25%);
      }

      @include r(1200) {
        display: none;
      }
    }
  }

  &__text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    @extend %dmsans-400;
    font-size: 16px;
    color: $color-text-cards;

    @include r(440) {
      font-size: 14px;
    }
  }

  span {
    @include r(440) {
      font-size: 16px;
    }
  }
}

// @each $support in "support""delivery""payment" {
//   .support__item--#{$support} {
//     position: relative;

//     &::after {
//       content: '';
//       position: absolute;
//       top: -30%;
//       left: -20%;
//       background-image: url('../images/icons/#{$support}.svg');
//       background-repeat: no-repeat;
//       background-size: auto, cover;
//       min-width: 60px;
//       min-height: 60px;
//       transform: translate(-50%, 50%);
//     }
//   }
// }