.team {
  margin-bottom: 75px;

  @include r(992) {
    margin-bottom: 50px;
  }

  @include r(768) {
    margin-bottom: 20px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include r(992) {
      display: block;
    }
  }

  &__about {
    max-width: 310px;
    width: 100%;
    margin-right: 90px;

    @include r(1200) {
      margin-right: 50px;
    }

    @include r(992) {
      margin-right: 30px;
      max-width: 900px;
      margin-bottom: 30px;
    }
  }

  &__title {
    margin-bottom: 20px;
    text-align: start;
    color: $color-title-header;

    @include r(992) {
      margin-bottom: 15px;
    }
  }

  &__text {
    margin-bottom: 45px;
    @extend %lineclump;
    -webkit-line-clamp: 20;
    line-height: 1.9;
    color: $color-title-header;
    @extend %rubik-400;

    @include r(1200) {
      margin-bottom: 30px;
    }

    @include r(992) {
      margin-bottom: 20px;
    }
  }

  &__link-btn {
    position: relative;
    padding: 15px 62px 15px 10px;
    @extend %btn;
    background-position: 85% 50%;
    background-repeat: no-repeat;
    background-image: url('../images/icons/arrows-right-white.svg');
    @extend %poppins-600;
    font-size: 15px;
    line-height: 2;
    color: $color-text-white;
    transition: all 0.5s ease-in-out;

    @include r(768) {
      padding: 10px 40px 10px 10px;
      background-position: 90% 50%;
      font-size: 14px;
    }

    &:hover {
      @include rmin(768) {
        box-shadow: 0 0 10px 4px $color-button;
        color: $color-accent;
      }
    }
  }

  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include r(992) {
      justify-content: space-around;
    }
  }

  &__item {
    overflow: hidden;
    max-width: 370px;
    margin-bottom: 40px;
    width: 100%;
    max-height: 380px;

    @include r(1200) {
      padding-right: 15px;
      width: 50%;
    }

    @include r(768) {
      padding-right: 0;
      width: 100%;
      margin-bottom: 20px;
    }

    @include r(768) {
      margin-bottom: 10px;
    }
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 320px;
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -45px;
    padding-left: 25px;
    max-width: 325px;
    width: 100%;
    height: 110px;
    box-shadow: 0px 6px 28px $color-box-shadow;
    background-color: $color-background;
    z-index: 10;
  }

  &__name {
    margin-bottom: 10px;
    padding-top: 25px;
    max-width: 180px;
    width: 100%;
    @extend %lineclump;
    -webkit-line-clamp: 1;
    @extend %dmsans-700;
    font-size: 22px;
    line-height: 1;

    @include r(768) {
      font-size: 18px;
    }
  }

  &__post {
    max-width: 180px;
    width: 100%;
    @extend %lineclump;
    -webkit-line-clamp: 2;
    @extend %rubik-400;
    line-height: 1.5;
    color: #565872;
  }

  &__list {
    display: flex;
    margin-top: 35px;
    margin-left: -50px;
  }

  &__icon {
    display: flex;
    max-width: 41px;
    width: 100%;
    height: 41px;
    border-radius: 21px;
    background-color: #f6f6f6;
    transition: all 0.3s;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      @include rmin(768) {
        box-shadow: 0 0 10px 4px $color-button;
        color: $color-accent;
      }
    }
  }

  &__link {
    position: relative;
    width: 17px;
    height: 17px;
    top: 21px;
    left: 20px;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../images/icons/icons-team/instagram-gray.svg');

    &--google {
      width: 23px;
      height: 15px;
      left: 18px;
      background-image: url('../images/icons/icons-team/google-gray.svg');
    }
  }
}