.team {
  margin-bottom: 75px;

  @include r(992) {
    margin-bottom: 50px;
  }

  @include r(768) {
    margin-bottom: 20px;
  }

  @include r(480) {
    margin-bottom: 10px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include r(992) {
      display: block;
    }
  }

  &__about {
    max-width: 310px;
    width: 100%;
    margin-right: 90px;

    @include r(1200) {
      margin-right: 50px;
    }

    @include r(992) {
      margin-right: 30px;
      max-width: 900px;
      margin-bottom: 30px;
    }
  }

  &__title {
    margin-bottom: 20px;
    text-align: start;
    color: $color-title-header;

    @include r(992) {
      margin-bottom: 15px;
    }
  }

  &__text {
    margin-bottom: 45px;
    line-height: 1.9;
    color: $color-title-header;
    @extend %rubik-400;

    @include r(1200) {
      margin-bottom: 30px;
    }

    @include r(992) {
      margin-bottom: 15px;
    }
  }

  &__link-btn {
    position: relative;
    padding: 15px 62px 15px 10px;
    @extend %btn;
    background-position: 85% 50%;
    background-repeat: no-repeat;
    background-image: url('../images/icons/arrows-right-white.svg');
    @extend %poppins-600;
    font-size: 15px;
    line-height: 2;
    color: $color-text-white;
    transition: all 0.5s ease-in-out;

    &:hover {
      @include rmin(768) {
        box-shadow: 0 0 10px 4px $color-button;
        color: $color-accent;
      }
    }
  }

  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include r(992) {
      justify-content: space-around;
    }
  }

  &__item {
    overflow: hidden;
    max-width: 370px;
    margin-bottom: 40px;
    width: 100%;
    max-height: 380px;

    @include r(1200) {
      padding-right: 15px;
      width: 50%;
    }

    @include r(768) {
      padding-right: 0;
      width: 100%;
      margin-bottom: 20px;
    }

    @include r(768) {
      margin-bottom: 10px;
    }

    @include r(480) {
      margin-bottom: 90px;
      overflow: visible;
    }
  }

  &__img {
    width: 100%;
    height: 320px;
    object-fit: cover;
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 25px;
    margin-top: -50px;
    max-width: 325px;
    width: 100%;
    max-height: 110px;
    padding-bottom: 25px;
    box-shadow: 0px 6px 28px $color-box-shadow;
    background-color: $color-background;
    z-index: 10;

    @include r(768) {
      margin-bottom: 10px;
    }

    @include r(480) {
      display: block;
      padding-left: 10px;
      padding-bottom: 10px;
      max-width: 100%;
      min-height: 130px;
      margin-top: 0;
    }
  }

  &__name {
    margin-bottom: 10px;
    padding-top: 25px;
    max-width: 180px;
    width: 100%;
    @extend %dmsans-700;
    font-size: 22px;
    line-height: 1;

    @include r(480) {
      display: block;
      padding-top: 10px;
      max-width: 100%;
    }
  }

  &__post {
    padding: 0px 10px 0 0;
    max-width: 180px;
    width: 100%;
    @extend %rubik-400;
    line-height: 1.5;
    color: #565872;

    @include r(480) {
      display: block;
      max-width: 100%;
    }
  }

  &__connection {
    display: flex;
    margin-top: 35px;
    margin-left: -50px;

    @include r(480) {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  &__link {
    position: relative;
    max-width: 41px;
    width: 100%;
    height: 41px;
    border-radius: 21px;
    background-color: #f6f6f6;
    z-index: 100;

    @include rmin(768) {
      &:hover {
        box-shadow: 0 0 10px 4px $color-button;
      }
    }

    &:not(:last-child) {
      margin-right: 10px;
    }

    &::after {
      position: absolute;
      content: '';
      top: 5px;
      left: 12px;
      width: 100%;
      transform: translate(0, 50%);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &--instagram::after {
      max-width: 17px;
      min-height: 17px;
      background-image: url('../images/icons/icons-team/instagram-gray.svg');
    }

    &--google::after {
      max-width: 23px;
      min-height: 15px;
      background-image: url('../images/icons/icons-team/google-gray.svg');
    }
  }
}