.top-slider {

  &__wrapper {
    position: relative;
    background-color: $color-banner;
    z-index: 10;

    &::after {
      position: absolute;
      content: '';
      top: 12%;
      right: 10%;
      max-width: 634px;
      width: 100%;
      height: 634px;
      border-radius: 50%;
      background-image: linear-gradient(-90deg, $color-text-white 0%, $color-banner);
      z-index: -1;

      @include r(1200) {
        right: 15%;
        top: 8%;
        max-width: 480px;
        height: 480px;
      }
    }
  }

  &__items {
    max-width: 800px;
    // width: auto;
    // width: 100%;
    // width: 1200px;
    // max-width: 100%;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    // display: inline-block;
    float: left;
    padding-top: 215px;
    padding-left: 10px;
    padding-bottom: 300px;

    @include r(1200) {
      // padding-top: 110px;
      // padding-bottom: 160px;
    }

    // @include r(992) {
    //   padding-top: 70px;
    //   padding-bottom: 80px;
    // }

    // @include r(768) {
    //   padding-top: 30px;
    //   padding-bottom: 40px;
    // }
  }

  &__box {
    max-width: 100%;
  }

  &__img-box {
    // float: right;
    max-width: 640px;
    width: 100%;
    height: auto;
    overflow: hidden;

    @include r(1200) {
      // margin-right: 60px;
    }
  }

  &__img {
    // display: inline-block;
    max-width: 640px;
    width: 100%;
    height: auto;
    // transform: translate(-50%, 0);

    // position: absolute;
    // left: 0;
    // top: 0;
    // width: 100%;
    // height: auto;
    // right: 0;
    // bottom: 412px;
    // transform: translateY(50%);
    // overflow: hidden;
    // max-width: 640px;
    // width: 100%;
    // flex: 0 0 640px;
    // max-width: 100%;
  }

  &__title {
    @extend %lineclump;
    margin-bottom: 25px;
    max-width: 500px;
    width: 100%;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    color: $color-title-header;

    @include r(1200) {
      margin-bottom: 20px;
      width: 80%;
      font-size: 50px;
    }

    @include r(992) {
      margin-bottom: 15px;
      width: 70%;
      font-size: 40px;
    }

    @include r(768) {
      margin-bottom: 10px;
      font-size: 26px;
    }
  }

  &__text {
    @extend %lineclump;
    -webkit-line-clamp: 4;
    margin-bottom: 60px;
    max-width: 370px;
    width: 100%;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 1.5;

    @include r(1200) {
      margin-bottom: 40px;
      width: 90%;
    }

    @include r(992) {
      margin-bottom: 30px;
      width: 80%;
    }

    @include r(768) {
      margin-bottom: 20px;
    }
  }

  &__link {
    @extend %btn;
    padding: 20px 110px 20px 20px;
    background-position: 85% 50%;
    background-repeat: no-repeat;
    background-image: url('../images/icons/arrows-right-btn.svg');
    transition: all 0.5s ease-in-out;
    z-index: 100;

    @include r(1200) {
      padding: 15px 70px 15px 15px;
    }

    @include r(992) {
      padding: 10px 50px 10px 10px;
      font-size: 14px;
    }

    @include r(768) {
      padding: 10px 15px 10px 10px;
      background-image: none;
    }

    &:hover {
      box-shadow: 0 0 10px 4px $color-button;
      background-image: url('../images/icons/arrows-accent-right.svg');
      color: $color-accent;

      @include r(768) {
        background-image: none;
      }
    }
  }

  .slick-dots {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 30px;
    transform: translateY(-50%);
  }

  li {
    &:not(:last-child) {
      margin-right: 14px;
    }

    button {
      position: relative;
      min-width: 29px;
      min-height: 29px;
      border-radius: 50%;
      @extend %rubik-500;
      font-size: 11px;
      line-height: 1;
      color: $color-title-header;
      background-color: $color-dots-def;

      @include r(992) {
        min-width: 20px;
        min-height: 20px;
      }
    }
  }

  .slick-active {
    button {
      background-color: $color-background;
    }
  }
}