$background: #fff;
$accent: #191919;
$primary: #436372;

$title-header: #243f4d;
$title-menu: #8b8b8b;
$title-cards: #414141;
$title-design: #1a1a1a;
$title-footer: #1f2044;

$text-cards: #585858;
$text-footer: #7b7b7b;
$text-white: #fff;

$button: #a3bbc8;
$banner: #fcd7b6;
$dots-def: #fde3cc;
$line-cards: #e8e4df;
$search: #edf1f4;
$form-bg: #fef7f0;
$cards-product: #feefe2;
$design: #f8f8f8;
$view: #262626;
$date: #222933;
$footer-line: #dae4e9;
$placeholder: #234969;
$signature-border: #e0e0e0;
$box-shadow: rgba(37, 37, 37, 0.05);

%btn {
  padding: 20px 50px 20px 20px;
  @extend %rubik-500;
  font-size: 15px;
  color: $text-white;
  background-color: $button;
}

%statistic-icons {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto, cover;
  top: -49px;
  left: 25%;
  transform: translate(0, -50%);
}

%checkbox-hidden {
  position: absolute;
  overflow: hidden;
  clip: (rect(0 0 0 0));
  width: 1px;
  height: 1px;
}

%dmsans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%rubik-300 {
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

%poppins-600 {
  font-family: 'Poppins-SemiBold', sans-serif;
  font-weight: 600;
}

%poppins-700 {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}